.cecitracker {
.chronomain {
  width: var(--ancho);
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: var(--borde);
  position: relative;
  height: 70vh;
}

.chronomain br {
  display: none;
}

.chtabsb {
  background: var(--fondo);
  flex: 3;
  position: relative;
  overflow: hidden;
  padding: 2em;
}

.chtab { 
  display: block;
} 

.chtabsb label { 
  display: block;
  width: 20%; 
  font: 400 12px 'source sans pro';  
  line-height: 100%; 
  color: var(--texto);
  cursor: pointer;
  margin: 5px 0;
}

.chtabsb label.tab:before {
  padding-right: 5px;
  color: var(--acento);
  font: 12px Gloock;
}

.uno:before {content: '01';}
.dos:before {content: '02';}
.tres:before {content: '03';}
.cuatro:before {content: '04';}

.chtabsb label.tab span:before {
  content:'';
  height:1px;
  width: 0;
  margin-right: 0;
  margin-bottom: 4px;
  background: var(--acento);
  display: inline-block;
  transition: .6s ease-in-out;
}

.chtabsb .chtab [type=radio] {
  display: none; 
  baseline-tab-shift: true, retrieve; 
} 

.chcont { 
  width: calc(100% - 300px);
  height: 100%; 
  padding: 2em; 
  box-sizing: border-box;
  position: absolute; 
  top: 10em;
  left: 300px;
  background: var(--fondo);
  border-left: var(--borde);
  transition-duration: .9s;
  overflow: auto;
}

.chtab:after {
  content: '';
  width: 1px;
  height: 100%;
  background: var(--acentol);
  position: absolute;
  top: 0;
  left: 300px;
}

.chtabsb .chtab [type=radio]:checked ~ label.tab span:before {
  width: 2em;
  margin-right: 5px;
  transition: 1s ease-in-out;
}

.chtabsb .chtab [type=radio]:checked ~ label ~ .chcont { 
  z-index: 1; 
  top: 0em; 
  border-left: var(--borde);
}

.tabh {
  margin: 1em 0 8px;
  color: var(--texto);
  font: 18px Gloock;
}

.tch {
  margin: 0 0 1em 0;
}

.tch span {
  font: 28px Gloock;
  padding: 0;
  margin: 0;
  position: relative;
  color: var(--texto);
}

.tch span:after {
  content: '';
  position: absolute;
  height: 1px;
  background: var(--acento);
  bottom: -2px;
  left: 0;
  right: 0;
  margin: 0 3px;
}

.thread {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 80px 1fr 40px;
  grid-template-rows: 20px;
  grid-template-areas: 
    "date link state"
    "date info state";
}

.thread b {
  font: 22px Gloock;
  color: var(--texto);
  grid-area: date;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.thread p {
  font: normal 8px 'source sans pro';
  text-transform: uppercase;
  padding-left: 2em;
  margin: 0;
  display: flex;
  color: var(--textob);
  grid-area: info;
}

.thread a {
  color: var(--texto);
  font: 12px 'source sans pro';
  text-decoration: none;
  transition: .6s ease-in-out;
  grid-area: link;
  padding-left: 1em;
}

.thread a:hover {
  color: var(--acento);
  transition: 1s ease-in-out;
}

.thread a:before {
  content: '';
  height: 1px;
  width: 0;
  background: var(--acentob);
  display: inline-block;
  vertical-align: middle;
  transition: .6s ease-in-out;
}

.thread a:hover:before {
  width: 2em;
  margin-right: 5px;
  transition: 1s ease-in-out;
}

.a:before,
.c:before,
.rp:before {
  font-family:cappuccicons;
  color: var(--textob);
  grid-area: state;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.a:before {
  content:'\ea9c';
}
.c:before {
  content:'\ea9b';
}

@font-face {
  font-family: 'Irish';
  src: url("https://files.jcink.net/uploads/mischief/Irish.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.chronomain:before {
    content: 'E';
    font: 16px 'Irish';
    color: var(--acento);
    position: absolute;
    left: 50%;
    bottom: -25px;
  transform: translate(-50%,0);
    opacity: 0.4;
    cursor: pointer;
    -webkit-transition: .8s ease-in-out 1s;
    -moz-transition: .8s ease-in-out 1s;
    -ms-transition: .8s ease-in-out 1s;
    -o-transition: .8s ease-in-out 1s;
    transition: .8s ease-in-out 1s;
}

.chronomain:hover:before {
    opacity: 0;
    -webkit-transition: .8s ease-in-out .8s;
    -moz-transition: .8s ease-in-out .8s;
    -ms-transition: .8s ease-in-out .8s;
    -o-transition: .8s ease-in-out .8s;
    transition: .8s ease-in-out .8s;
}
.chronomain:after {
    content: 'the code coven';
    font-family: Karla, sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    color: var(--acento);
    position: absolute;
    left: 50%;
    bottom: -21px;
  transform: translate(-50%,0);
    opacity: 0;
    cursor: pointer;
    -webkit-transition: .8s ease-in-out 1s;
    -moz-transition: .8s ease-in-out 1s;
    -ms-transition: .8s ease-in-out 1s;
    -o-transition: .8s ease-in-out 1s;
    transition: .8s ease-in-out 1s;
}
.chronomain:hover:after {
    opacity: 0.4;
    -webkit-transition: .8s ease-in-out .8s;
    -moz-transition: .8s ease-in-out .8s;
    -ms-transition: .8s ease-in-out .8s;
    -o-transition: .8s ease-in-out .8s;
    transition: .8s ease-in-out .8s;
}

  .wrapper-link {
    display: flex;
    align-items: center;
  }
.wrapper-link span {
    display: inline-block;
    background: var(--acento);
        padding: 3px 5px;
        border-radius: 10px;
        font-size: 8px;
        line-height: 1;
        margin-left: 10px;
}

  .chronomain {--fondo: #080808;--texto: #ccc;--textob: #808080;--acento: #24659b;--acentol: #24659b;--acentob: #24659b;--borde: 1px solid #222;--ancho: 100%;} .a:before, .c:before {font-family:cappuccicons;} 
  .a:before {content:'\ea9c';} 
  .c:before {content:'\ea9b';}
  .rp:before {
/*     content:'\e9d5'; */
    content: 'RP';
  }
}
