.darkmode-template {
  position:relative;
  width: 700px;
  margin: 0 auto;
}

.darkmode-template label {
position: absolute;
    top: 10px; right: 10px;
    color: #696969;
}
.darkmode-template input:checked ~ .content {
  background:#eee !important;
  color: #222;
}
#slide1 {
  display: none;
}
.content {
  margin: 0 auto; background: #111; color: #696969; padding: 40px; text-align: justify; font-family: verdana; font-size: 12px; line-height: 1.8;
}
.titulo {
  font-size: 40px; font-family: 'Sacramento', cursive; color: var(--dark-color);text-align:center; width:100%;display:inline-block; line-height:1;
}
.subtitulo {
  margin-top: -10px;font-size: 11px; text-transform:uppercase; letter-spacing:2px; color: #464646;text-align:center; width:100%;display:inline-block;margin-bottom:30px;
}
.darkmode-template input:checked ~ .content .titulo {
  color: var(--light-color);
}
