.day-night {
  position:relative;
  width: 700px;
  margin: 0 auto;
}

.day-night label {
position: absolute;
    top: 10px; right: 10px;
    color: #696969;
}
.day-night input:checked ~ .content {
  background:#eee !important;
  color: #222;
}
#slide1 {
  display: none;
}
.content {
  margin: 0 auto; background: #111; color: #696969; padding: 40px 40px 60px 40px; text-align: justify; font-family: verdana; font-size: 11px; line-height: 1.8;
}
.titulo {
  font-size: 40px; font-family: 'Sacramento', cursive; color: var(--dark-color);text-align:center; width:100%;display:inline-block; line-height:1;
}
.subtitulo {
  margin-top: -10px;font-size: 11px; text-transform:uppercase; letter-spacing:2px; color: #464646;text-align:right; width:100%;display:inline-block;margin-bottom:30px;
}
.day-night .content:after{
  content:'by ~moony';
    display:block;
  position: absolute;
  color: #696969;
  font-size: 9px;
  opacity: 0.8;
  max-width: 100%;
  width: 100%;
  background: #eee;
  bottom: 0;
  right: 0;
  padding: 5px 40px;
  left: 0;
  text-align:right;
}
.day-night .content:hover:after {
  content: 'moonygraphics.tumblr.com';
}

day-night .banner {
  background: #eee;
  font-family: verdana;
  padding: 40px;
}

.day-night .content:after {
  
}

.day-night input:checked ~ .content:after{
  color: #222;
}
.day-night input:checked ~ .content .titulo {
  color: var(--light-color);
}

.day-night .fala {
  color: var(--dark-color);
}

.day-night input:checked ~ .content .fala {
  color: var(--light-color);
}
